{
  "gantry_config": "{{ e2e_dir }}/gantry.yaml",
  "trust_store": "{{ trust_dir }}",
  "signed_ref": "lib/app:1",
  "stores": {
    "remote": "127.0.0.1:5001",
    "cache": "127.0.0.1:5000",
    "cache_tls": "127.0.0.1:5004",
    "cache_zot": "127.0.0.1:5003",
    "cache_proxy": "127.0.0.1:5002"
  }
}
